@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul, li, ol {
  list-style-type: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  background-color: transparent;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

* ::before,
* ::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}

.container--main {
  width: min(100% - 0rem, 94.5rem);
  padding-inline: 7.25rem;
  margin-inline: auto;
  background-color: black;
  color: white;
}

@media (max-width: 62.43625em) {
  .container--main {
    width: min(100% - 0rem, 94.5rem);
    padding-inline: 5rem;
    margin-inline: auto;
  }
}
@media (max-width: 31.18625em) {
  .container--main {
    width: min(100% - 0rem, 94.5rem);
    padding-inline: 2.5rem;
    margin-inline: auto;
  }
}
.header {
  min-height: 3.25rem;
  padding-block: 2rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 2.75rem;
}

.header__logo .header__logo__image {
  width: 9.1875rem;
  height: 2.5rem;
  margin-right: 2.1875rem;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__elements {
  display: grid;
  grid-template-columns: 1fr 10rem;
  align-items: center;
  line-height: 1.6; /* 160% */
  gap: 1.875rem;
}

.header__elements__links {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1.875rem;
}
.header__elements__links a {
  transition: 0.45s;
}
.header__elements__links a:hover {
  background-color: #317bca;
}

.header__elements__link {
  display: grid;
  grid-auto-flow: column;
  gap: 1.875rem;
}

.header__elements__card {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 0.0625rem;
}
.header__elements__card .elements__card__namber {
  background-color: rgba(129, 129, 139, 0.3);
  border-radius: 50%;
  padding: 0.1875rem;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__elements__card .elements__card__namber span {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1; /* 100% */
}

.header__elements__button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
}
.header__elements__button a {
  padding: 1rem 1.8125rem;
  border-radius: 3.125rem;
  background-color: #3D96F4;
  transition: 0.45s;
}
.header__elements__button a:hover {
  background-color: #317bca;
}

.burger--btn {
  display: none;
  justify-self: end;
  align-self: center;
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  cursor: pointer;
  transition: 0.45s;
}
.burger--btn span {
  opacity: 1;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 0.1875rem;
  background-color: white;
}

.burger--btn:hover {
  background-color: #317bca;
}

.burger--btn::before,
.burger--btn::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.1875rem;
  background-color: white;
  transition: 0.45s;
}

.burger--btn::before {
  top: 0;
}

.burger--btn::after {
  bottom: 0;
}

.header__elements.active {
  top: 0;
  left: 0;
  background-color: rgb(30, 30, 30);
  display: grid;
}

.burger--btn.active span {
  opacity: 0;
}

.burger--btn.active::before {
  top: calc(50% - 0.09375rem);
  transform: rotate(-45deg);
}

.burger--btn.active::after {
  bottom: calc(50% - 0.09375rem);
  transform: rotate(45deg);
}

@media (max-width: 74.93625em) {
  .header {
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    padding-inline: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }
  .header__elements {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.45s;
  }
  .header__elements__links {
    grid-auto-flow: row;
    justify-items: center;
    margin-top: 3.125rem;
  }
  .header__elements__links .header__elements__link {
    grid-auto-flow: row;
  }
  .burger--btn {
    display: block;
  }
}
.marketing {
  margin-bottom: 11.875rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  min-height: 43.75rem;
}

@media (max-width: 85.56125em) {
  .marketing {
    min-height: 25rem;
  }
}
.marketing__items {
  padding-block: 8.125rem;
}
.marketing__items .marketing__items__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 1.75rem;
  position: relative;
}
.marketing__items .marketing__items__title .image__dots {
  position: absolute;
  top: -1.3125rem;
  left: -1.9375rem;
  width: 7.625rem;
  height: 7.625rem;
}
.marketing__items .marketing__items__title .image__dots img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.marketing__items .marketing__items__text {
  color: #9C9C9C;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  margin-bottom: 2.0625rem;
}
.marketing__items .marketing__items__buttons {
  display: flex;
  gap: 2rem;
  padding-block: 1rem;
}
.marketing__items .marketing__items__buttons .marketing__btn__services {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
}
.marketing__items .marketing__items__buttons .marketing__btn__services a {
  padding: 1rem 1.5rem;
  border-radius: 3.125rem;
  background-color: #3D96F4;
  transition: 0.45s;
}
.marketing__items .marketing__items__buttons .marketing__btn__services a:hover {
  background-color: #317bca;
}
.marketing__items .marketing__items__buttons .marketing__btn__contact {
  transition: 0.45s;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
}
.marketing__items .marketing__items__buttons .marketing__btn__contact a {
  padding: 1rem 1.9375rem;
  border-radius: 3.125rem;
  background: rgba(129, 129, 139, 0.2);
  transition: 0.45s;
}
.marketing__items .marketing__items__buttons .marketing__btn__contact a:hover {
  background-color: rgb(21, 21, 21);
}

.marketing__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(13.875rem, 15.125rem));
  grid-template-rows: 1.3fr 1fr 1.3fr;
  row-gap: 1.875rem;
  -moz-column-gap: 3.375rem;
       column-gap: 3.375rem;
  padding-left: 3.375rem;
  padding-right: 1.6875rem;
}
.marketing__cards .marketing__card__img {
  width: 100%;
  height: 100%;
}
.marketing__cards .marketing__card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.marketing__cards .marketing-img-1 {
  grid-row: 1/3;
  border-radius: 23.625rem;
  overflow: hidden;
}
.marketing__cards .marketing-img-2 {
  grid-row: 1/2;
  border-radius: 15.1191rem 0rem 15.1191rem 15.1191rem;
  overflow: hidden;
}
.marketing__cards .marketing-img-3 {
  grid-row: 3/4;
  border-radius: 15.1191rem 15.1191rem 0rem 15.1191rem;
  overflow: hidden;
}
.marketing__cards .marketing-img-4 {
  grid-row: 2/4;
  border-radius: 23.625rem;
  overflow: hidden;
}

@media (max-width: 74.93625em) {
  .marketing {
    grid-template-columns: 1fr;
    margin-top: 6.25rem;
  }
  .marketing__cards {
    justify-content: space-evenly;
  }
}
@media (max-width: 62.43625em) {
  .marketing__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 48.06125em) {
  .marketing {
    margin-bottom: 5.625rem;
  }
  .marketing__items {
    padding-block: 4.375rem;
  }
  .marketing__items .marketing__items__title {
    font-size: 2.575rem;
  }
  .marketing__items .marketing__items__buttons {
    flex-direction: column;
  }
  .marketing__items .marketing__items__buttons .marketing__btn__services a {
    display: block;
  }
  .marketing__items .marketing__items__buttons .marketing__btn__contact a {
    display: block;
  }
}
.trusted-by {
  margin-bottom: 9.0625rem;
}

.trusted__title {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

.trusted__group {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.875rem;
  align-content: center;
}

.luminous {
  background: linear-gradient(90deg, black 8%, rgba(0, 0, 0, 0) 50%), url("../img/Luminous-Logo.svg.svg") center/100% no-repeat;
  height: 4.921875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.sitemark {
  background: url("../img/Sitemark-Logo.svg.svg") center/100% no-repeat;
  height: 4.921875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.pronature {
  background: url("../img/Pronature-Logo.svg.svg") center/100% no-repeat;
  height: 4.921875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.greenish {
  background: url("../img/Greenish-Logo.svg.svg") center/100% no-repeat;
  height: 4.921875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.waveless {
  background: linear-gradient(270deg, black 8%, rgba(0, 0, 0, 0) 50%), url("../img/Waveless-Logo.svg.svg") center/100% no-repeat;
  height: 4.921875rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 48.06125em) {
  .trusted-by {
    margin-bottom: 4.375rem;
  }
}
.services {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  min-height: 46.875rem;
  margin-bottom: 11.875rem;
}
.services .services__items {
  margin-right: 6.5rem;
  align-self: center;
  margin-bottom: 6.25rem;
}

.services__items__label {
  color: #9C9C9C;
  font-size: 0.675rem;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  display: inline-block;
  border: 0.0625rem solid rgba(129, 129, 139, 0.2);
  border-radius: 0.75rem;
  margin-bottom: 1.1875rem;
}
.services__items__label h4 {
  padding: 0.6875rem 1.1875rem;
}

.services__items__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 0.75rem;
}

.services__items__text {
  color: #9C9C9C;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  margin-bottom: 2.0625rem;
}

.services__btn__all-services {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
  padding-block: 1rem;
}
.services__btn__all-services a {
  padding: 1rem 1.8125rem;
  border-radius: 3.125rem;
  background-color: #3D96F4;
  transition: 0.45s;
}
.services__btn__all-services a:hover {
  background-color: #317bca;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(15.625rem, 20rem));
  gap: 2rem;
  grid-auto-rows: 1fr;
}
.services__cards a {
  transition: 0.45s;
}
.services__cards a:hover {
  background-color: rgb(21, 21, 21);
}

.services__cards__marketing {
  display: grid;
  grid-template: 1fr 1fr/1fr;
  gap: 2rem;
  margin-top: 3rem;
  max-width: 20rem;
}

.services__cards__additionally {
  display: grid;
  grid-template: 1fr 1fr/1fr;
  gap: 2rem;
  margin-bottom: 3rem;
  max-width: 20rem;
}

.services__card {
  border-radius: 1.875rem;
  background-color: rgba(129, 129, 139, 0.1);
  padding: 3.4375rem 1.5625rem;
}

.services__card__img {
  width: 4.75rem;
  height: 4.75rem;
  margin-bottom: 0.9375rem;
}
.services__card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__card__items {
  margin-right: 2.8125rem;
}

.services__card__title {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  margin-bottom: 0.625rem;
}

.services__card__text {
  color: #81818B;
  line-height: 1.5; /* 150% */
}

@media (max-width: 85.56125em) {
  .services__card__items {
    margin-right: 0rem;
  }
}
@media (max-width: 74.93625em) {
  .services {
    grid-template-columns: 1fr;
  }
  .services .services__items {
    margin-right: 0rem;
    width: 80%;
    justify-self: center;
  }
  .services .services__cards {
    justify-content: space-evenly;
    gap: 3rem;
  }
  .services .services__cards .services__cards__marketing {
    gap: 3rem;
  }
  .services .services__cards .services__cards__additionally {
    gap: 3rem;
  }
}
@media (max-width: 62.43625em) {
  .services__items {
    display: grid;
    justify-items: center;
  }
  .services__items .services__items__label {
    justify-self: left;
  }
  .services__items .services__items__text {
    text-align: center;
  }
  .services__btn__all-services {
    justify-self: center;
  }
}
@media (max-width: 48.06125em) {
  .services {
    margin-bottom: 5.625rem;
  }
  .services .services__items {
    margin-right: 0rem;
    margin-bottom: 4rem;
    width: 100%;
  }
  .services .services__items .services__items__title {
    font-size: 2.575rem;
  }
  .services .services__btn__all-services {
    justify-items: center;
  }
  .services__cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.reasons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  min-height: 49.0625rem;
  margin-bottom: 11.875rem;
}

.reasons__image {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  align-items: end;
  position: relative;
}
.reasons__image .reasons__image__dots {
  position: absolute;
  left: -0.625rem;
  bottom: 0;
  width: 7.625rem;
  height: 7.625rem;
}
.reasons__image .reasons__image__dots img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reasons__image__big {
  height: 100%;
  width: 100%;
  border-radius: 42.375rem 0rem 23.625rem 23.625rem;
  overflow: hidden;
}
.reasons__image__big img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reasons__image__smoll {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 11.3399rem 11.3399rem 11.3399rem 0rem;
  overflow: hidden;
}
.reasons__image__smoll img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reasons__items {
  align-self: center;
  padding-block: 1.25rem;
}
.reasons__items .reasons__items__label {
  color: #9C9C9C;
  font-size: 0.675rem;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  display: inline-block;
  border: 0.0625rem solid rgba(129, 129, 139, 0.2);
  border-radius: 0.75rem;
  margin-bottom: 2.6875rem;
}
.reasons__items .reasons__items__label h4 {
  padding: 0.6875rem 1.1875rem;
}
.reasons__items .reasons__items__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 2.5rem;
}
.reasons__items .reasons__items__text {
  color: #9C9C9C;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  margin-bottom: 2.5rem;
}

.reasons__items__list {
  color: #9C9C9C;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  display: grid;
  row-gap: 1.5625rem;
}
.reasons__items__list li {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.reasons__items__list li span::before {
  content: "";
  background: url("../img/check-solid-1.svg") center 100% no-repeat;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 50%;
  background-position: center;
}

@media (max-width: 74.93625em) {
  .reasons {
    grid-template-columns: 1fr;
    gap: 4rem;
    min-height: 49.0625rem;
    margin-bottom: 11.875rem;
  }
  .reasons__image {
    grid-template-columns: 2fr 1fr;
  }
  .reasons__image .reasons__image__big {
    max-height: 49.0625rem;
    max-width: 26.4375rem;
    aspect-ratio: 1/1.85;
  }
}
@media (max-width: 62.43625em) {
  .reasons {
    margin-bottom: 5.625rem;
  }
  .reasons .reasons__items__list {
    justify-content: center;
  }
}
@media (max-width: 48.06125em) {
  .reasons .reasons__items__title {
    font-size: 2.575rem;
  }
}
.statistic {
  min-height: 36.875rem;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 2rem;
  margin-bottom: 11.875rem;
}

.statistic__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(13.75rem, 22.5rem));
  gap: 2rem;
}

.statistic__card {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
  padding: 2.5rem;
  max-width: 22.5rem;
}
.statistic__card .statistic__card__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 2rem;
}
.statistic__card .statistic__card__text {
  color: #9C9C9C;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}

.statistic__image {
  width: 100%;
  aspect-ratio: 1/1.18;
  border-radius: 0rem 23.625rem 23.625rem 23.625rem;
  overflow: hidden;
}
.statistic__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 74.93625em) {
  .statistic {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .statistic .statistic__cards {
    justify-content: space-evenly;
  }
  .statistic .statistic__image {
    max-width: 31.25rem;
    max-height: 36.875rem;
    justify-self: center;
  }
}
@media (max-width: 48.06125em) {
  .statistic {
    margin-bottom: 5.625rem;
  }
  .statistic__cards {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
.testimonials {
  min-height: 14.375rem;
  margin-bottom: 11.875rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4rem;
}

.testimonials__items {
  display: grid;
  grid-template-columns: 1fr auto;
}

.testimonials__item {
  width: 68%;
}
.testimonials__item .testimonials__label {
  color: #9C9C9C;
  font-size: 0.675rem;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  display: inline-block;
  border: 0.0625rem solid rgba(129, 129, 139, 0.2);
  border-radius: 0.75rem;
  margin-bottom: 1.5625rem;
}
.testimonials__item .testimonials__label h4 {
  padding: 0.6875rem 1.1875rem;
}
.testimonials__item .testimonials__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 0.75rem;
}
.testimonials__item .testimonials__text {
  color: #9C9C9C;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}

.testimonials__buttons {
  align-self: self-end;
}

.testimonials__btn {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
  padding-block: 1rem;
}
.testimonials__btn a {
  padding: 1rem 1.5625rem;
  border-radius: 3.125rem;
  background-color: #3D96F4;
  transition: 0.45s;
}
.testimonials__btn a:hover {
  background-color: #317bca;
}

.testimonials__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(13.75rem, 24.6875rem));
  gap: 3rem;
}

.testimonials__card {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
  padding: 4rem 2.5rem;
  display: grid;
  grid-template: auto auto auto 1fr/1fr;
  max-width: 24.6875rem;
}

.testimonials__card__persona {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.0625rem;
}
.testimonials__card__persona .persona__image__br-1 {
  border-radius: 0rem 4.2519rem 4.2519rem 4.2519rem;
}
.testimonials__card__persona .persona__image__br-2 {
  border-radius: 4.2519rem 0rem 4.2519rem 4.2519rem;
}
.testimonials__card__persona .persona__image__br-3 {
  border-radius: 4.2519rem 4.2519rem 0rem 4.2519rem;
}
.testimonials__card__persona .card__persona__image {
  overflow: hidden;
  width: 4.25rem;
  height: 4.25rem;
}
.testimonials__card__persona .card__persona__items .card__persona__name {
  line-height: 1.5; /* 150% */
  margin-bottom: 0.3125rem;
}
.testimonials__card__persona .card__persona__items .card__persona__company {
  color: #9C9C9C;
  font-size: 0.875rem;
  line-height: 1.6; /* 160% */
}

.testimonials__card__title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  padding-bottom: 2.125rem;
}

.testimonials__card__text {
  color: #9C9C9C;
  line-height: 1.5; /* 150% */
  margin-bottom: 2.1875rem;
}

.testimonials__card__rating {
  align-self: self-end;
  display: flex;
  padding-bottom: 1.25rem;
}
.testimonials__card__rating .card__rating {
  width: 1.225rem;
  height: 1.125rem;
}
.testimonials__card__rating .card__rating img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 74.93625em) {
  .testimonials__cards {
    grid-template-columns: 1fr;
  }
  .testimonials__cards :nth-child(2) {
    justify-self: self-end;
  }
}
@media (max-width: 62.43625em) {
  .testimonials {
    margin-bottom: 5.625rem;
  }
  .testimonials__items {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
  }
  .testimonials__items .testimonials__item {
    width: 75%;
  }
}
@media (max-width: 48.06125em) {
  .testimonials .testimonials__item {
    width: 100%;
  }
  .testimonials .testimonials__item .testimonials__title {
    font-size: 2.575rem;
    text-align: center;
  }
  .testimonials .testimonials__item .testimonials__text {
    text-align: center;
  }
}
@media (max-width: 24.93625em) {
  .testimonials__card__title {
    font-size: 1.5rem;
  }
}
.blog {
  min-height: 18.125rem;
  margin-bottom: 11.875rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 4rem;
}

.blog__items {
  display: grid;
  grid-template-columns: 1fr auto;
}

.blog__item {
  width: 68%;
}
.blog__item .blog__label {
  color: #9C9C9C;
  font-size: 0.675rem;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  display: inline-block;
  border: 0.0625rem solid rgba(129, 129, 139, 0.2);
  border-radius: 0.75rem;
  margin-bottom: 1.5625rem;
}
.blog__item .blog__label h4 {
  padding: 0.6875rem 1.1875rem;
}
.blog__item .blog__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 0.75rem;
}
.blog__item .blog__text {
  color: #9C9C9C;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5; /* 150% */
}

.blog__buttons {
  align-self: self-end;
}

.blog__btn {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
  padding-block: 1rem;
}
.blog__btn a {
  padding: 1rem 2.59375rem;
  border-radius: 3.125rem;
  background-color: #3D96F4;
  transition: 0.45s;
}
.blog__btn a:hover {
  background-color: #317bca;
}

.blog__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(13.75rem, 24.6875rem));
  gap: 3rem;
}

.blog__card {
  background-color: rgba(129, 129, 139, 0.1);
  border-radius: 1.875rem;
  overflow: hidden;
  display: grid;
  grid-template: 0.37fr 1fr/1fr;
  max-width: 24.6875rem;
}

.blog__card__image {
  width: 100%;
  height: 100%;
}
.blog__card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog__card__body {
  padding: 1.625rem;
  display: grid;
  grid-template: auto auto auto 1fr/1fr;
}
.blog__card__body .card__body__date {
  color: rgba(129, 129, 139, 0.9);
  line-height: 1.5; /* 150% */
  margin-bottom: 1.25rem;
}
.blog__card__body .card__body__title {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  margin-bottom: 1.875rem;
}
.blog__card__body .card__body__text {
  color: #9C9C9C;
  line-height: 1.5; /* 150% */
  margin-bottom: 1.375rem;
}
.blog__card__body .card__body__link {
  display: inline-block;
  color: #3D96F4;
  font-size: 0.875rem;
  line-height: 1.6; /* 160% */
  padding-bottom: 0.9375rem;
  align-self: self-end;
}

@media (max-width: 74.93625em) {
  .blog__cards {
    grid-template-columns: 1fr;
  }
  .blog__cards :nth-child(2) {
    justify-self: self-end;
  }
}
@media (max-width: 62.43625em) {
  .blog {
    margin-bottom: 5.625rem;
  }
  .blog__items {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
  }
  .blog__items .blog__item {
    width: 75%;
  }
}
@media (max-width: 48.06125em) {
  .blog .blog__item {
    width: 100%;
  }
  .blog .blog__item .blog__title {
    font-size: 2.575rem;
  }
}
.to-start {
  padding: 3.25rem 2.5rem;
  border-radius: 1.875rem;
  background: rgba(129, 129, 139, 0.1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 6rem;
}

.to-start__items {
  width: 58%;
  justify-self: center;
}
.to-start__items .to-start__items__title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  margin-bottom: 0.875rem;
  text-align: center;
}
.to-start__items .to-start__items__text {
  color: #9C9C9C;
  line-height: 1.5; /* 150% */
  text-align: center;
}

.to-start__buttons {
  display: flex;
  gap: 2rem;
  padding-block: 1rem;
  justify-content: center;
}
.to-start__buttons .to-start__btn__services {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
}
.to-start__buttons .to-start__btn__services a {
  padding: 1rem 1.5rem;
  border-radius: 3.125rem;
  background-color: #3D96F4;
  transition: 0.45s;
}
.to-start__buttons .to-start__btn__services a:hover {
  background-color: #317bca;
}
.to-start__buttons .to-start__btn__contact {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
}
.to-start__buttons .to-start__btn__contact a {
  padding: 1rem 1.9375rem;
  border-radius: 3.125rem;
  background: rgba(129, 129, 139, 0.2);
  transition: 0.45s;
}
.to-start__buttons .to-start__btn__contact a:hover {
  background-color: rgb(21, 21, 21);
}

@media (max-width: 74.93625em) {
  .to-start {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  .to-start .to-start__items {
    width: 75%;
  }
}
@media (max-width: 48.06125em) {
  .to-start {
    margin-bottom: 0rem;
  }
  .to-start__buttons {
    flex-direction: column;
    gap: 4rem;
  }
}
.footer {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  gap: 4rem;
  padding-block: 10rem;
}

.footer__socials {
  padding-right: 2rem;
}
.footer__socials .footer__socials__logo {
  margin-bottom: 2rem;
}
.footer__socials .footer__socials__logo .socials__logo__image {
  width: 9.1875rem;
  height: 2.5rem;
}
.footer__socials .footer__socials__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.footer__socials .footer__socials__item {
  color: #9C9C9C;
  line-height: 1.5; /* 150% */
  margin-bottom: 2rem;
}
.footer__socials .footer__socials__icons {
  display: inline-flex;
  gap: 1rem;
}
.footer__socials .footer__socials__icons a {
  transition: 0.45s;
}
.footer__socials .footer__socials__icons a:hover {
  background-color: white;
}
.footer__socials .footer__socials__icons .socials__icon {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 2.25rem;
  border: 0.0625rem solid rgba(129, 129, 139, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__socials .footer__socials__icons .socials__icon .socials__icon__image {
  width: 1.25rem;
  height: 1.25rem;
}
.footer__socials .footer__socials__icons .socials__icon .socials__icon__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__pages,
.footer__utility {
  padding-right: 3rem;
}
.footer__pages h3,
.footer__utility h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.0625rem;
  margin-bottom: 1.875rem;
}
.footer__pages ul,
.footer__utility ul {
  display: grid;
  row-gap: 1.525rem;
  padding-bottom: 1.4625rem;
}
.footer__pages li,
.footer__utility li {
  color: #9C9C9C;
  line-height: 1.6; /* 160% */
}

.footer__subscribe .footer__subscribe__title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.0625rem;
  margin-bottom: 1.875rem;
}
.footer__subscribe .footer__subscribe__item {
  color: #9C9C9C;
  line-height: 1.5; /* 150% */
  margin-bottom: 2.0625rem;
  padding-right: 4.6875rem;
}
.footer__subscribe .footer__subscribe__buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.footer__subscribe .footer__subscribe__buttons .footer__subscribe__btn-email {
  color: #999;
  padding-block: 0.90625rem;
}
.footer__subscribe .footer__subscribe__buttons .footer__subscribe__btn-email a {
  padding: 0.90625rem 2.0625rem;
  border-radius: 3.125rem;
  border: 0.0625rem solid rgba(129, 129, 139, 0.3);
  transition: 0.45s;
}
.footer__subscribe .footer__subscribe__buttons .footer__subscribe__btn-email a:hover {
  background-color: rgb(21, 21, 21);
}
.footer__subscribe .footer__subscribe__buttons .footer__subscribe__btn-subscribe {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
  padding-block: 1rem;
}
.footer__subscribe .footer__subscribe__buttons .footer__subscribe__btn-subscribe a {
  padding: 1rem 1.5625rem;
  border-radius: 3.125rem;
  background-color: #3D96F4;
  transition: 0.45s;
}
.footer__subscribe .footer__subscribe__buttons .footer__subscribe__btn-subscribe a:hover {
  background-color: #317bca;
}
@media (max-width: 94.5em) {
  .footer__subscribe .footer__subscribe__buttons {
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: start;
  }
}

.footer__signature {
  padding-block: 2.875rem;
  text-align: center;
  color: #9C9C9C;
  font-size: 0.875rem;
  line-height: 1.6; /* 160% */
}

@media (max-width: 79.31125em) {
  .footer {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-block: 5rem;
  }
  .footer .footer__socials {
    display: grid;
    grid-column: span 2;
    padding-right: 0rem;
    justify-items: center;
    justify-self: center;
    width: 75%;
  }
  .footer .footer__socials .footer__socials__item {
    text-align: center;
  }
  .footer .footer__subscribe {
    display: grid;
    grid-column: span 2;
    text-align: center;
    width: 75%;
    justify-items: center;
  }
  .footer .footer__subscribe .footer__subscribe__item {
    padding-right: 0rem;
    text-align: center;
  }
  .footer .footer__subscribe__buttons {
    grid-template-columns: auto auto;
    gap: 1rem;
  }
}
@media (max-width: 48.06125em) {
  .footer {
    -moz-column-gap: 0rem;
         column-gap: 0rem;
  }
  .footer .footer__socials .footer__socials__icons {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .footer__pages {
    padding-right: 0rem;
    grid-column: span 2;
    text-align: center;
  }
  .footer .footer__pages li {
    display: grid;
    justify-items: center;
  }
  .footer .footer__utility {
    padding-right: 0rem;
    grid-column: span 2;
    text-align: center;
  }
  .footer .footer__utility li {
    display: grid;
    justify-items: center;
  }
  .footer .footer__subscribe {
    width: 100%;
  }
  .footer__subscribe__buttons .footer__subscribe__btn-email {
    grid-column: span 2;
    margin-bottom: 16px;
  }
  .footer__subscribe__buttons .footer__subscribe__btn-subscribe {
    grid-column: span 2;
    justify-self: center;
  }
}/*# sourceMappingURL=style.css.map */