@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul, li, ol {
  list-style-type: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  border: none;
  color: inherit;
  background-color: transparent;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

* ::before,
* ::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}

.container--main {
  width: min(100% - 0rem, 94.5rem);
  padding-inline: 7.25rem;
  margin-inline: auto;
  background-color: black;
  color: white;
}

.header {
  min-height: 3.25rem;
  padding-block: 2rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-bottom: 2.75rem;
}

.header__logo .header__logo__image {
  width: 9.1875rem;
  height: 2.5rem;
  margin-right: 2.1875rem;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__elements {
  display: grid;
  grid-template-columns: 1fr 10rem;
  align-items: center;
  line-height: 1.6; /* 160% */
  gap: 1.875rem;
}

.header__elements__links {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1.875rem;
}

.header__elements__link {
  display: grid;
  grid-auto-flow: column;
  gap: 1.875rem;
}

.header__elements__card {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  font-size: 1.1rem;
  letter-spacing: 0.0625rem;
}
.header__elements__card .elements__card__namber {
  background-color: gray;
  border-radius: 50%;
  padding: 0.1875rem;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__elements__card .elements__card__namber span {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1; /* 100% */
}

.header__elements__button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
}
.header__elements__button a {
  padding: 1rem 1.8125rem;
  border-radius: 3.125rem;
  background-color: #3D96F4;
}

.marketing {
  margin-bottom: 11.875rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  min-height: 43.75rem;
}

@media (max-width: 85.56125em) {
  .marketing {
    min-height: 25rem;
  }
}
.marketing__items {
  padding-block: 8.125rem;
}
.marketing__items .marketing__items__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 1.75rem;
  position: relative;
}
.marketing__items .marketing__items__title .image__dots {
  position: absolute;
  top: -1.3125rem;
  left: -1.9375rem;
  width: 122px;
  height: 122px;
}
.marketing__items .marketing__items__title .image__dots img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.marketing__items .marketing__items__text {
  color: #9C9C9C;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  margin-bottom: 2.0625rem;
}
.marketing__items .marketing__items__buttons {
  display: flex;
  gap: 2rem;
  padding-block: 1rem;
}
.marketing__items .marketing__items__buttons .marketing__btn__services {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
}
.marketing__items .marketing__items__buttons .marketing__btn__services a {
  padding: 1rem 1.5rem;
  border-radius: 3.125rem;
  background-color: #3D96F4;
}
.marketing__items .marketing__items__buttons .marketing__btn__contact {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
}
.marketing__items .marketing__items__buttons .marketing__btn__contact a {
  padding: 1rem 1.9375rem;
  border-radius: 3.125rem;
  background: rgba(129, 129, 139, 0.2);
}

.marketing__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(13.875rem, 15.125rem));
  grid-template-rows: 1.3fr 1fr 1.3fr;
  row-gap: 1.875rem;
  -moz-column-gap: 3.375rem;
       column-gap: 3.375rem;
  padding-left: 3.375rem;
  padding-right: 1.6875rem;
}
.marketing__cards .marketing__card__img {
  width: 100%;
  height: 100%;
}
.marketing__cards .marketing__card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.marketing__cards .marketing-img-1 {
  grid-row: 1/3;
  border-radius: 378px;
  overflow: hidden;
}
.marketing__cards .marketing-img-2 {
  grid-row: 1/2;
  border-radius: 241.906px 0px 241.906px 241.906px;
  overflow: hidden;
}
.marketing__cards .marketing-img-3 {
  grid-row: 3/4;
  border-radius: 241.906px 241.906px 0px 241.906px;
  overflow: hidden;
}
.marketing__cards .marketing-img-4 {
  grid-row: 2/4;
  border-radius: 378px;
  overflow: hidden;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1.1fr;
  align-items: center;
  min-height: 46.875rem;
}
.services .services__items {
  margin-right: 6.5rem;
}

.services__items__label {
  color: #9C9C9C;
  font-size: 0.675rem;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  display: inline-block;
  border: 0.0625rem solid rgba(129, 129, 139, 0.2);
  border-radius: 0.75rem;
  margin-bottom: 1.1875rem;
}
.services__items__label h4 {
  padding: 0.6875rem 1.1875rem;
}

.services__items__title {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  margin-bottom: 0.75rem;
}

.services__items__text {
  color: #9C9C9C;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5; /* 150% */
  margin-bottom: 2.0625rem;
}

.services__btn__all-services {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6; /* 160% */
  letter-spacing: 0.125rem;
  padding-block: 1rem;
}
.services__btn__all-services a {
  padding: 1rem 1.8125rem;
  border-radius: 3.125rem;
  background-color: #3D96F4;
}

.services__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(15.625rem, 1fr));
  gap: 2rem;
  grid-auto-rows: 1fr;
}

.services__card {
  border-radius: 30px;
  background-color: rgba(129, 129, 139, 0.2);
  padding: 3.4375rem 1.5625rem;
}

.services__card__img {
  width: 4.75rem;
  height: 4.75rem;
  margin-bottom: 0.9375rem;
}
.services__card__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services__card__items {
  margin-right: 2.8125rem;
}

.services__card__title {
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.4; /* 140% */
  margin-bottom: 0.625rem;
}

.services__card__text {
  color: #81818B;
  line-height: 1.5; /* 150% */
}/*# sourceMappingURL=style.css.map */