$colorGray-fon: rgb(241, 241, 241);
$colorGainsboro: gainsboro;
$colorBlack: black;
$colorBlack-light: rgba(0, 0, 0, 0.3);
$colorGreen: green;
$colorRed: red;
$colorWhite: white;
$colorDarkcyan: darkcyan;
$colorDarkcyan-hover: rgb(2, 119, 119);
// ========
$colorGray-text: #9C9C9C;
$colorBlue: #3D96F4;
$colorLightGray: rgba(129, 129, 139, 0.20);
