$colorGray-fon: rgb(241, 241, 241);
$colorGainsboro: gainsboro;
$colorBlack: black;
$colorBlack-light: rgba(0, 0, 0, 0.3);
$colorGreen: green;
$colorRed: red;
$colorWhite: white;
$colorDarkcyan: darkcyan;
$colorDarkcyan-hover: rgb(2, 119, 119);